{% extends '::base.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}
<script>

</script>

{% endblock %}

{% block body -%}
    <div id="consulta_antiguo_alumno" >
 pp
    </div>
    {% endblock %}