<script>
  //Se añade el nombre del profesor en los grupos donde tengan profesor y asignaturas asignadas.
  array={{imparte|json_encode()|raw}};
  for (var key in array){
    clave=key.split("-");
    id_horario=clave[0];
    dia=clave[1];
    nombre_asig=clave[2];
    abrev_asig=clave[3];
    aula=clave[4];
    grupo=clave[5];
    profesor=array[key];

    //Si existe alguna asignación con horario se muestra en la tabla.  
    if(id_horario!=""){
      $("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"']").text(abrev_asig);
      //Se crean atributos con los datos para mostrar.
      $("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"']").attr("asignatura",nombre_asig);
      $("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"']").attr("profesor",profesor);
      $("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"']").attr("aula",aula);
    }
  }

  //Se oculta la imagen de "añardir" si no hay asignaturas asignadas al curso.
  $("#asignar_horario_grupos #contenedor_registro #lista_asignaturas tbody .dataTables_empty").each(function(){ 
    if($(this).attr("id")=="asignatura"){
      $(this).closest("#contenedor_registro").find("#cabecera_lista #añadir_modal").addClass('oculto');
    } 
  });


</script>
{% if numAsigHorarios and numAsigCurso and completo%}
  {% for entity in entity %}
	 <tr id="{{ entity.id }}" class="no_efect">
  	 <td class="horario azul_opacity">{{ entity.inicio|date("H:i") ~ " - " ~ entity.fin|date("H:i")  }}</td>
    {% if entity.horaClase == "RECREO" or entity.horaClase == "COMIDA" %}
  	 <td colspan="5" class="no_efect placeholder_list_table_td_mod color_azul"> {{ entity.horaClase }}</td>
     {% else %}
     <td id="1"></td>
     <td id="2"></td>
     <td id="3"></td>
     <td id="4"></td>
     <td id="5"></td>
     {% endif %}
	 </tr>
  {% endfor %}
{% else %}

  {% if not numAsigCurso %}
    <tr class="odd no_cursor">
      <td class="dataTables_empty" id="asignatura"><p>El curso no tiene asignada ninguna asignatura</p><p class="color_rojo"> (Debe asignar las asignaturas del curso)</p></td>
   </tr>

  {% elseif not completo %}
    <tr class="odd no_cursor">
		  <td class="dataTables_empty" id="asignatura"><p>Faltan profesores por asignar al grupo</p><p class="color_rojo"> (Debe asignar los profesores a las asignaturas del grupo)</p></td>
	 </tr>
  {% else %}
    <tr class="odd no_cursor">
      <td class="dataTables_empty"  id="horario">Este grupo no tiene ningún horario asignado</td>
   </tr>
  {% endif %}
{% endif %}