{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block javascript %}
{% endblock %}

{% block body -%}
    <h1>Grupo creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('grupo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
