*{
    margin: 0;
    padding: 0;
}

/*Formulario Lógin*/
.login{
	width: 400px;
	margin: 0 auto;
	margin-bottom: 22px;
}
.login>h3{
	text-align: center;
}
.login>fieldset>p:first-child {
	text-align: center;
	margin-bottom: 15px;
	padding: 0 20px;
	font-weight: bold;
	font-size: 12px;
}
#inputs{
	background: #b1cce7;
	border-radius: 10px;
	padding: 10px;
	-moz-box-shadow:  black 5px 5px 15px;
   	-webkit-box-shadow:  black 5px 5px 15px;
   	box-shadow:  black 5px 5px 15px;
}
#passolvidado{
    background: #001f51 none repeat scroll 0 0;
    border-radius: 0 0 8px 8px;
    clear: both;
    margin: 0 -11px -11px -10.5px;
    opacity: 0.9;
    padding: 5px;
    text-align: center;
}
#passolvidado a{
	color: white !important;
}
#passolvidado:hover{
    text-decoration: underline;
    color: white;
}
.login #acceder{
    float: right;
    margin-right: 35px;
    margin-top: -45px;
    width: 75px;
}
.mensaje_error{
	float: left;
	color: red;
	margin-left: 25px;
}	
p>label{
	margin-left: 25px;
	display: inline-block;
	text-align: left;
	width: 10em;
	vertical-align: bottom;
}
p>input{
	display: inline-block;
	width: 12em;
}
#recuerdame{
    display: inline-block;
    margin: 10px 2px;
    width: 1em;
    vertical-align: sub;

}
.fondo{
	background:#b1cce7 ;
	opacity: 0.3;
}
.mt5{
    margin-top: 5px !important;
}

/* Estilos Intranet*/

/*Estilos para Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
    html, body {
        overflow-x: hidden;
    }
    #wrapper {
        padding-left: 0 !important;
    }
    #sidebar-wrapper {
        display: none;
    }
    #page-content-wrapper {
        width: 100%;
    }
    .contenido-twig {
        margin: 0;
        padding: 0 15px !important;
        position: relative !important;
        background: none !important;
        top: -81px;
    }
    .header-usuario {
        background-color: #31708f !important;
        min-height: 96px !important;
    }
    .header-usuario .nombre-usuario {
        font-size: 1.5em !important;
        padding: 0 !important;
        position: relative;
        top: -58px !important;
        width: 60%;
    }
    .header-usuario .anuncios-usuario li {
        font-size: 1.5em;
    }
    .header-usuario .img-title {
        border-radius: 6px !important;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.42);
        margin: 5px;
        padding: 0;
        width: 70px !important;
        height: 85px !important;

    }
    #barramensajesmovil a {
        display: block;
        height: 30px;
    }
    .header-usuario div{
        height: 65px;
    }
    .header-usuario .anuncios-usuario {
        padding-bottom: 20px;
    }
    .header-usuario .nombre-usuario tr{
        height: 80px !important;
    }
    .navbar-header{
        padding: 0!important;
        width: 100%;
    }
    .semilla{
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        color: #31708f;
        cursor: default;
        float: left;
        font-size: 17px;
        margin: 11px 0;
        user-select: none;
        width: 40%;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .navbar-header {
        height: 40px;
    }
    .navbar {
        min-height: 40px !important;
    }
    .navbar-nav > li > a {
        height: 30px !important;
        border-radius: 5px !important;
        margin: 4px 0;
        padding: 5px 15px !important;
    }
    #menu_principal{
        width: 60%;
        float: right;
    }
    #menuMovil{
        padding: 0 !important;
    }
    #menuMovil ul{
        float: left !important;
    }
    #menuMovil ul li{
        min-width: 175px !important;
        height: 35px ;
    }
    #menuMovil ul li a{
        padding: 5px 15px !important;
    }
    .submenuMovil ul {
        border-top: 2px solid lightgrey;
        width: 100%;
    }
    .col-sm-12 {
        width: 100%;
    }

    #responsable{
        margin-right: 10px;
    }
    .nombre-usuario{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }
    .no_padding_md{
        padding: 0 !important;
    }
    .act_pass_padres .form-group {
        min-height: 45px !important;
    }
    .copyright {
        padding-left: 150px !important;
    }
    .foto_perfil img{
        height: 120px !important;
        width: 90px !important;
    }
    #actualizar_password label {
        padding: 0 !important;
    }
    .header-usuario table th, .header-usuario table td {
        font-size: 0.9em !important;
    }

}
/*Estilos para Móvil*/
@media (max-width: 767px) {
    html, body {
        overflow-x: hidden;
    }
    .botonsubir {
        margin-bottom: 20px;
        margin-right: 10px;
    }
    #sidebar-wrapper {
        display: none;
    }
    .header-usuario {
        background-color: #31708f;
        display: flex !important;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        min-height: 65px;
    }
    #wrapper {
        padding-left: 0 !important;
        margin: 0 !important;
    }
    #page-content-wrapper {
        padding: 0 !important;
    }
    .boton-menu-movil {
        background-color: #e0e0e0;
    }
    .header-usuario .foto-usuario {
        color: #fff;
        padding-left: 15px;
        padding-top: 0px;
    }
    .header-usuario .anuncios-usuario{
        border-radius: 0 0 0 5px !important;
        top: 0 !important;
    }
    .header-usuario .anuncios-usuario a{
        display: block;
        margin-top: -3px !important;
    }
    .navbar-header{
        padding: 0!important;
    }
    .semilla{
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        color: #31708f;
        cursor: default;
        padding-left: 15px;
        padding-top: 8px;
        user-select: none;
        font-size: 17px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .navbar-default .navbar-toggle {
        border-color: #ddd;
    }
    .boton-menu-movil {
        background-color: #e0e0e0;
    }
    .navbar{
        margin-bottom:  0 !important;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background-color: #e7e7e7;
        color: #555;
    }
    .navbar-nav > li > a {
        height: 32px !important;
        padding-left: 15px !important;
    }
    .contenido-twig {
        background: #fff none repeat scroll 0 0;
        padding: 0 15px !important;
    }
    .container-fluid .row {
        margin-top: 2px !important;
    }
    .contenido-wrapper{
        padding: 0px !important;
    }
    #responsable{
        float: right;
        font-size: 13px;
    }
    #responsable>ul{
        margin: 0 !important;
    }
    .bloque-dashboard{
        padding: 0 !important;
        margin: 5px 0 !important;
    }
    .bloque-menu-alumno{
        padding-left: 0 !important;
        padding-right: 0 !important
    }
    .bloque{
        margin:  0 !important;
    }
    .bloque ul{
        margin-right: 10px;
    }
    .bloque li{
        display: inline !important;
    }
    .titulo-seccion{
        margin-top: 19px !important;
    }
    .nombre-usuario{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }
    .no_padding_md{
        padding: 0 !important;
    }
    .act_pass_padres .form-group {
        min-height: 45px !important;
    }
    .copyright {
        padding-left: 6px !important;
        padding-right: 0 !important;
        text-align: right !important;
    }
    #barraidioma {
        margin-top: -4px;
        padding: 4px 0;
    }
    #barraidioma a img{
        padding: 4px 9px !important;
    }
    .menu ul{
        margin: 0!important;
    }
    #actualizar_password label {
        padding: 0 !important;
    }
    .contenido_datos{
        margin-top: 0px !important;
        margin-right: 50px;
    }
    #page-content-wrapper .container-fluid{
        margin-bottom: 40px;
    }
    .datos_curso{
        padding: 0 !important;
    }
    #foto_curso{
        margin: 0 auto !important;
        margin-top: 0!important;
        margin-bottom: 10px !important;
    }
    .header-usuario table{
        margin: 5px !important;
    }
    .div_datos_curso{
        margin-bottom: 0 !important;
    }
    .profesores_grupo h5 {
        font-size: 12px !important;
        line-height: 22px !important;
        margin-top: 0 !important;
        padding: 2px 7px 5px !important;
        margin-left: 5px !important;
    }
    .profesores_grupo .enviar_mensaje i {
        padding: 0 !important;
        min-width: 25px !important;
    }
    .div_datos_curso .col-xs-10 span, .div_datos_curso .col-xs-10 label{
        margin-left:15px !important ;
    }
    .tab_horarios a{
        padding: 2px !important;
    }
    .profesores_grupo .asignaturas_profesor i {
        margin-left: 0 !important;
    }
    .asignaturas_profesor>p>span{
        display: block;;
    }
    #horarios #horario_pdf{
        float: none !important;
        margin-top: 5px !important;
    }
    .imgLiquidFill {
        margin: 0 15% 10px 18% !important;
        margin-bottom: 10px !important;
        width: 60% !important;
    }
    .contenido_noticia h2 {
        background: #31708f none repeat scroll 0 0;
        border-radius: 5px 5px 0 0!important;
        color: white;
        font-size: 15px !important;
        margin-bottom: 0px !important;
        padding: 4px 9px !important;
    }
    .contenido_noticia h2 i{
        float: right;
        min-width: 15px !important;
    }
    .divider{
        margin: 5px 0 !important;
    }
    .normal {
        height: 215px !important;
        width: 100% !important;
    }
    .contenedor_noticia {
        padding: 0;
        min-height: 120px !important;
    }
    .noticia .imgLiquidFill {
        margin: 0 !important;
        width: 100% !important;
    }
    .contenido_noticia div{
        background: #f8f8f8;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }
    .contenido_noticia div span{
        margin-top: 5px !important;
        margin-bottom: 10px !important;
        display: block;
    }

    .noticia h2{
        font-size: 16px;
        font-weight: bold;
        border-bottom: 2px solid #123645 !important;
    }
}
/* Estilos para Pc*/
#titulo_cabecera{
    height: 43px !important;
}
.header-usuario {
    background-color: #31708f;
    display: block;
    min-height: 65px;
}
.header-usuario .anuncios-usuario {
    background-color: #cdd6e0;
    border: 1px dashed #e0e0e0;
    border-radius: 5px 0 0 5px;
    display: block;
    left: 15px;
    padding-top: 0;
    position: relative;
    top: 15px;
}
.header-usuario .anuncios-usuario .list-inline {
    margin: 0;
}
.header-usuario .anuncios-usuario li {
    height: 35px !important;
}
.header-usuario .anuncios-usuario li a .fa{
    color: #334c73;
}
.header-usuario .foto-usuario {
    color: #fff;
}
.img-title {
    border-radius: 5px !important;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.42);
    margin: 10px;
    padding: 0;
    width: 48px ;
    height: 58px ;
}
.img-header{
    width: 50px;
}
.img-header-movil {
    padding-top: 5px;
    width: 45px;
}
.navbar .img-title {
    float: left;
    margin: 3px !important;
    max-height: 44px;
    width: 37px !important;
}
.navbar {
    box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.75) !important;
}
.nav > li {
    display: block;
    position: relative;
}
.nav > li > a > img {
    max-width: none;
}
.navbar-nav > li > a {
    height: 55px;
    line-height: 20px;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    z-index: 1;
}
#barramiperfil > a , .barramensajes > a{
    padding-top: 8px !important;
}
#barramiperfil > a {
    float: left;
    max-width: 90%;
}
#barramiperfil table{
    margin: 0 !important;
    float: left;
}
#barramiperfil .caret{
    float: right;
}
#barramiperfil table tr {
    height: 34px;
}
#barramiperfil .caret {
    margin-left: 10px;
}
.nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 40px !important;
    line-height: 20px;
    padding: 0 15px !important;
}
#barramiperfil{
    padding-left: 10px;
    max-width: 74%;
    float: right;
}
.navbar-brand-movil {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 0 3px !important;
}
.btn_admin{
    float: right;
    width: 43px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.img-rounded {
    border-radius: 6px;
}
img {
    vertical-align: middle;
}
img {
    border: 0 none;
}
.list-inline {
    list-style: outside none none;
    margin-left: -5px;
    padding-left: 0;
}
#wrapper {
    margin-top: 55px;
    padding-left: 250px;
    transition: all 0.5s ease 0s;
}
#sidebar-wrapper {
    background: #f4f4f4 none repeat scroll 0 0;
    box-shadow: 1px 0 3px 0 rgba(50, 50, 50, 0.75);
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease 0s;
    width: 250px;
    z-index: 1000;
}
.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}
.sidebar-nav li {
    line-height: 31px;
    text-indent: 5px;
}
.menu {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: 0;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInLeft {
    animation-name: fadeInLeft;
}
.profile-usermenu {
    margin-top: 0;
}
.profile-usermenu ul li {
    border-bottom: 1px solid #93a3b5;

}
.profile-usermenu ul li a {
    color: #31708f;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 15px !important;
}
.profile-usermenu ul li a i {
    font-size: 14px;
    margin-right: 8px;
}
.profile-usermenu ul li.active a {
    background-color: #4f7692 !important;
    color: white !important;
}
.profile-usermenu ul li a:hover:not(.active) {
    background-color: #CDD6E0;
    color: #31708f;
}
.nav {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
.nav a span[class*="fa"], .header-usuario .anuncios-usuario a span[class*="fa"]{
    padding: 0 5px;
    vertical-align: middle;
}
.navbar-header{
	padding: 6px 0; 
}
.navbar-nav > li > a {
    padding-left: 10px ;    
    padding-right: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #eee;
    text-decoration: none;
}
.nav > li.disabled > a {
    color: #777;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    background-color: transparent;
    color: #777;
    cursor: not-allowed;
    text-decoration: none;
}
.no-seleccion:hover{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    transform: translate(0px, 0px);
}
.enrutaje {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 6px;
    font-size: 12px;
    min-height: 40px !important;
    padding-bottom: 10px !important;
    padding-top: 6px;
}
.enrutaje li + li::before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
.enrutaje ul {
    margin-bottom: 0;
    padding: 0 15px;
    position: relative;
    top: 5px;
}
.breadcrumb {
    padding: 6px 0 6px 15px !important;
    margin-bottom: 10px !important;
}
.breadcrumb span {
    color: #334c73 !important;
    margin-left: 5px;
}
.list-inline {
    list-style: outside none none;
    margin-left: -5px;
    padding-left: 0;
}
ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
}
#page-content-wrapper {
    background: white;
    padding: 20px;
    position: relative;
    padding-bottom: 0;
}
#intranet i{
    min-width: 30px;
    text-align: center !important;
    font-size: 18px ;
}
#intranet .titulo{
    color: #334c73;
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}
.c_naranja{
    color: #e57200;
}
.c_naranja:hover{
    font-weight: bold;
}
.c_verde{
    color: #1E631E !important;
    font-weight: bold;
}
.c_verde:hover{
    text-decoration: underline !important;
}
.c_azul{
    color: #123645 !important;
}
.bg_azul{
    background: #123645;
}
.bg_naranja{
    background: #e57200;
}
#barramensajesmovil .azul{
    background-color: #32457B !important;
}
#barraanunciosmovil .verde{
    background-color: #699b54 !important;
}
#barraalertasmovil .naranja{
    background-color: #ea9239 !important;
}
.label-as-badge {
    border-radius: 1em !important;
    padding-right: 6px;
    line-height: 4 !important;
    padding: 2px 6px !important;
}
#barraidioma{
    padding: 4px 0;
}
#barraidioma a{
    display: inline;
    margin-right: 2px;
    padding: 0 !important;
}
#barraidioma a img{
    opacity: 0.6;
    padding: 0 9px;
    width: 50px;
}
#barraidioma a img:hover{
    opacity: 1;
}
.banderaseleccionada
{
    pointer-events: none;
    cursor: normal;
    opacity: 1 !important;
}
.titulo-pagina h1 {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: #334c73;
    cursor: default;
    font-size: 18px;
    position: relative;
    text-align: right;
    top: -15px;
    user-select: none;
}
.copyright {
    color: #123645;
    opacity: 0.6;
    margin-left: 10px;
    margin-right: -10px;
}
.nombre-usuario{
    padding-top: 5px;
}
.redes-sociales {
    background-color: #f4f4f4;
    border-top: 3px solid #93a3b5 ;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 250px;
}
.redes-sociales li{
    padding: 3px  5px!important;
    text-indent: 17px !important;
}
#enlacemiperfil {
    margin-top: 1px;
    padding: 0 !important;
    min-width: 180px;
    text-indent: 10px !important;
}
#enlacemiperfil li a{
   padding: 10px 5px !important;
}
#enlacemiperfil .divider{
    margin: 0 !important;
}
.divider {
    background-color: #e5e5e5;
    height: 2px;
    margin: 0;
    overflow: hidden;
}
.piemovil {
    background-color: #f4f4f4;
    border-top: 3px solid #e57200;
    box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.75);
    height: 40px;
    list-style: outside none none;
    margin-bottom: 20 !important;
    padding: 0;
}
.piemovil li {
    padding-top: 10px;
    text-align: center;
}
.piemovil a {
    font-size: 1.2em;
}
.contenido-wrapper {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    padding: 0 !important;
    /*min-height: 440px !important;*/
}
.titulo-seccion {
    border-bottom: 2px solid #123645 !important;
    clear: both;
    color: #123645;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 0!important;
}
#responsable{
    float: right;
}
#responsable>ul{
    margin: 0 !important;
}
#responsable #barramiperfil{
    max-width: 100%!important;  
}
.tipo{
    background: #334c73 none repeat scroll 0 0;
    border-radius: 5px 0;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;}
.bloque-dashboard {
    padding: 0;
    min-height: 176px !important;
}
.bloque.bloque-stats {
    position: relative;
}
.bloque {
    min-height: 135px;
    margin-bottom: 31px;
    padding: 0;
    border-radius: 3px;
    color: #fff;
    overflow: hidden;
    background: #4F7692;
}
.bloque:hover{
    background: #5C829C !important;
}
.bloque .foto{
    float: left;
    float: right;
}
.bloque .foto img{
    box-shadow: 0 0 1px 1px white;
    float: right;
    height: 80px !important;
    margin-top: 5px;
    width: 60px !important;
}
.bloque .informacion, .bloque .stats-title, .bloque .stats-desc, .bloque .stats-letter {
    left: 8px;
    padding: 0;
    position: relative;
    top: 6px;
}
.bloque .informacion{
    width: 96% !important;
}
.bloque .foto{
    margin-top: 7px;
    margin-right: 15px;
}
.bloque .stats-title {
    color: white;
    font-size: 1.2em;
    float: left;
    width: 75%;
}
.bloque-stats .stats-progress {
    background: white;
    clear: both;
    height: 2px;
    position: relative;
    top: 15px;
}
.progress {
    box-shadow: none;
}
.progress {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.bloque .avisos{
    height: 25px;
}
.bloque .avisos ul{
    color: white !important;
    float: right;
    height: 30px !important;
    margin-top: -10px;
}
.bloque .avisos ul li{
    margin: 0 5px;
}
.bloque .avisos ul li span{
    margin: 0 2px;
}
.bloque tr{
    height: 80px;
}
#menu .active, #menuMovil .active{
    color: #23527c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none; 
}
.pointer{
    pointer-events: auto !important; 
}
.barramensajes a{
    padding: 0 5px !important;
}
#menuMovil li a:hover:not(.active), #menu_principal li a:hover:not(.active){
    color: #31708f;
}
#menuMovil li.active a, #menu_principal li.active a{
    background-color: #CDD6E0;
    color: #31708f;
}
#responsable #barramiperfil i {
    margin-right: 5px;
}
#responsable #barramiperfil a {
    color: #123645;
    padding: 0 !important;
    height: 18px;
    display: inline;
}
#responsable #barramiperfil a:hover{
    background: none !important;
    text-decoration: underline;
}
.no_padding_left{
    padding-left: 0 !important;
}
.no_padding_right{
    padding-right: 0 !important;
}
.form-group{
   min-height: 33px ;
}
.titulo-bloque{
    background-color: #CDD6E0;
    color: #334c73;
    padding: 5px;
    margin-top: 0!important;
    border-radius: 5px;
    border: 1px solid #334c73;
    margin-bottom: 15px;
}
.titulo-bloque i{
    margin: 0 20px 0 10px;
}
#actualizar_password div, #actualizar_password label{
    padding: 0;
}
#actualizar_password label {
    padding-top: 8px ;
}
.contenido-twig {
    padding-bottom: 15px;
}
.notificacion{
    padding: 5px  10px !important;
    margin: 5px 0 !important;
}
.foto_perfil img{
    height: 130px ;
    width: 105px ;
    margin-right: 25px !important;
}
.contenido_datos{
    margin-top: 6px;
    margin-right: 40px;
}
.intranet_edit>div, #actualizar_password>div{
    margin-bottom: 10px !important;
}
.intranet_edit button{
    margin-bottom: 10px !important;
}
.bloque-menu-alumno{
    background: #f5f5f5;
    display: block;
    width: 100%;
    border-radius: 5px;
}
.bloque-menu-alumno>div{
    display: table;
    margin: 0 auto;
}
.bloque-menu{
    padding: 20px 30px !important;
}

.bloque-item-menu{
    background: #CDD6E0 none repeat scroll 0 0;
    border-radius: 50%;
    color: #31708f;
    height: 100px;
    margin-bottom: 10px !important;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100px;
    border: 1px solid #31708f;
    margin: 0 auto;

    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.bloque-item-menu i {
    display: block;
    font-size: 59px !important;
    margin: 0 auto !important;
    padding: 20px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.bloque-menu a, .bloque-menu-alumno div p {
    text-decoration: none !important;
    color: #31708f;
    text-align: center;
    font-weight: bold;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    background: none !important;
}
.padding-container{
    padding: 30px;
}
.item-verde { 
    background: #A6DF95;
    color: #195C04 !important;
    border-color: #195C04;
}
.item-naranja { 
    background: #FDD680;
    color: #E45D03 !important;
    border-color: #E45D03;
}
.item-rojo { 
    background: #FFC1C1;
    color: #A62100 !important;
    border-color: #A62100;
}
.item-marron { 
    background: #F9D083;
    color: #845805 !important;
    border-color: #845805;
}
.item-amarillo { 
    background: #F8F68D;
    color: #F5A12C !important;
    border-color: #F5A12C;
}
.item-lila { 
    background: #EDA2FF;
    color: #4B005E !important;
    border-color: #4B005E;
}
.item-azulado{
     background: #BDDDF2;
    color: #00725D !important;
    border-color: #00725D;
}
.item-rojizo{
    background: #FFC591;
    color: #750202 !important;
    border-color: #750202;
}
.item-verde2{
     background: #C8FA90;
    color: #335F00 !important;
    border-color: #335F00;    
}
.i-margin-left-17{
    padding-left: 17px !important;
}
.i-margin-left-15{
    padding-left: 15px !important;
}
.i-margin-left-22{
    padding-left: 22px !important;
}
.nav-tabs .active a{
    background: #f5f5f5 !important;
    font-weight: bold;
}
.tab-content{
    background: #f5f5f5 !important;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 1px 20px;
}
.nav-tabs a{
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    color: #555 !important;
    padding: 5px 13px !important;
}
.tab-content, .tab-content .active{
    color: #555 !important;
}
.tab-content{
    padding: 15px;
    border-radius: 0 0 5px 5px;
}
#horarios {
    text-align: center !important;
}
#horarios .row{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#horarios #cabecera_horarios{
    font-weight: bold;
    height: 30px;
    padding: 0 !important;
}
#horarios #cabecera_horarios .row>div{
    background: #CDD6E0;
    border: 1px solid grey;
    height: 30px;
    padding-top: 4px !important;
}
#horarios .horario>div{
    height: 34px;
    border: 1px ridge grey !important
}
#horarios #contenido_horarios>div:nth-child(2n) .horas {
    background-color: #CDD6E0;
}
#horarios div{
    border-radius: 20px;
    margin-bottom: 2px;
    padding: 0;
}
#horarios #contenido_horarios .horario{
    margin: 2px 0;
    overflow: hidden; 
}
#horarios #contenido_horarios .horario{
     display: table;
}
#horarios #contenido_horarios .horario>div{
    border-radius: 20px;
    display: table-cell;
    float: none;
    max-width: 150px;
    vertical-align: middle;
    background: #cdd6e0 none repeat scroll 0 0;
}
#horarios .horario div:not(.horas):not(.color_azul){
    color: white;
}
#horarios #accordion .panel-heading{
    border-radius: 2px;
    border: 1px ridge grey !important;
    height: 35px;
}
#horarios #accordion div a{
    background: #cdd6e0 none repeat scroll 0 0;
    padding: 7.5px 0 !important;
}
#horarios #accordion div a:hover{
    background: lightgrey;
    text-decoration: none;
}
#horarios #horario_pdf{
    color: #333;
    float: right;
    height: 30px;
    margin-top: -53px;
}
#horarios #horario_pdf button{
    padding: 3px 5px 3px 0;
}
.fondo_claro{
    background: #f5f5f5 !important;
}
.header-usuario table th, .header-usuario table td {
    text-align: left !important;
}
.nav-tabs .active a{
    color: #334c73 !important;
}
#foto_curso {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    display: block;
    height: 85px;
    margin: -7px auto 0;
    width: 70px;
}
.div_datos_curso{
    margin-bottom: 25px;
}
.div_datos_curso label{
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 5px;
    border: 1px solid grey;
    min-width: 76px;
    padding: 2px 10px !important;
    text-align: center;
}
.div_datos_curso .enviar_mensaje i {
    display: inline-block;
    font-size: 25px !important;
    margin-bottom: 5px;
    padding: 0 10px;
    vertical-align: middle;
}
.datos_curso{
    margin-top: 10px;
}
.datos_curso .text-danger{
    margin-left: 5px;
}
.clear{
    clear: both;
}
.no-padding{
    padding: 0 !important;
}
.color_azul{
    color: #334c73;
}
.barra_cabecera{
    max-width: 64%;
}
.alert{
    padding: 15px !important;
    text-align: left;
    margin-bottom: 0 !important;
}
.profesores_grupo>div{
    display: block;
    margin-bottom: 10px;
    min-height: 100px;
    padding: 10px 15px 0;
}
.profesores_grupo img{
    margin: 0 auto !important;
}
.profesores_grupo h5{
    background: #31708f none repeat scroll 0 0;
    border-radius: 5px;
    color: white;
    font-family: serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0 !important;
    padding: 2px 15px 5px;
}
.profesores_grupo #foto_curso {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
    display: block;
    height: 75px;
    margin: 0;
    width: 62px;
}
.cabecera_profesor{
    padding-left: 15px !important;
}
.enviar_mensaje i{
    font-size: 25px !important;
    margin-bottom: 10px;
}
.profesores_grupo .enviar_mensaje i{
    font-size: 20px !important;
    padding: 0 20px;
    color: white;
    margin: 0 !important
}
.profesores_grupo .asignaturas_profesor{
    padding-left: 15px !important;
}
.profesores_grupo .asignaturas_profesor p{
    font-weight: bold;
    border-bottom: 1px dotted black;
    width: 98%;
    padding-bottom: 5px;
}
.profesores_grupo .asignaturas_profesor i{
    background: #699b54 none repeat scroll 0 0;
    border-radius: 3px 0 0 3px;
    color: white;
    font-size: 16.5px !important;
    margin-left: 30px;
    margin-right: 10px;
    padding-right: 5px;
}
.profesores_grupo .asignaturas_profesor i span{
    float: left;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
    background: #699b54 !important;
    border-radius: 2px 0 0 2px;
}
.profesores_grupo .asignaturas_profesor i span:before{ 
    border-color: transparent transparent transparent #699b54;
    border-radius: 3px;
    border-style: solid;
    border-width: 9px;
    content: "";
    left: 76px;
    position: absolute;
    top: -0.5px;
}
.nav-tabs > li > a {
    border-right: 1px solid grey !important;
    border-left: 1px solid grey !important;
    border-top: 1px solid grey !important;
}
.nav-tabs > li:not(.active) > a:hover {
    border-bottom: 1px solid grey !important;
}
.nav-tabs {
    border-bottom: 1px solid grey !important;
}
.tab-content {
    border-right: 1px solid grey !important;
    border-left: 1px solid grey !important;
    border-bottom: 1px solid grey !important;
}
.img-small {
    background-position: center center;
    border-radius: 3px !important;
    float: left;
    height: 130px !important;
    margin-bottom: 20px;
    margin: 0 9px;
    min-width: 145px;
}
.imgLiquidFill {
    border-radius: 3px !important;
    box-shadow: 2px 2px 5px #888888;
    display: block;
    height: 180px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}
.contenido_noticia{
    box-sizing: border-box;
    display: inline-block;
    float: left;
    overflow-wrap: break-word;
    width: 100%;
    margin-bottom: 10px;
}
.no-margin{
    margin: 0;
} 
.contenido_noticia h2 {
    font-family: serif;
    font-size: 25px;
    margin-bottom: 5px;
    position: relative;
}
.contenido_noticia a {
    color: #001f51;
    outline: medium none !important;
    text-decoration: none !important;
}
.contenido_noticia div span{
    margin-bottom: 10px !important;
    display: block;
}
.navigation{
    margin: 0 auto !important;
    display: block;
    clear: both;
}
#gallery {
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    margin: 50px auto;
}
.contenedor_noticia {
    background-clip: padding-box;
    border-bottom: 2px solid rgba(51, 76, 115, 0.2);
    box-sizing: border-box;
    display: inline-block;
    min-height: 110px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.normal{
    width:530px ; 
    height:300px;
    margin: 30px auto;
    border-radius: 3px !important;
    background-position: center;/*Se centra la imagen pequeña de la noticia*/
}
.noticia h2{
    border-bottom: 2px solid #123645 !important;
}
.noticia p{
     padding-left: 10px;
    padding-right: 10px; 
 }