{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{asset("bundles/cole/js/imgLiquid-min.js")}}"></script>

  <script>

</script> 

{% endblock %}

{% block body %}
  <div class="parent_no_form">
<div class="child">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <div>
        <div>
        <div id="capa"></div>
        <div id="upload-image" style="width: 600px; margin: 0px auto;"></div>
        </div>

        <div id="btn_file">
         <input type="file" id="upload">
        </div>
        <div id="btn_upload">
          <button class="btn-success upload-result">Aceptar</button>
          <button class="btn-success upload-result-edit_noticia">Aceptar</button>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>

<script type="text/javascript">
$uploadCrop = $('#imagen_noticia_dialog #upload-image').croppie({
    enableExif: true,
    viewport: {
        width: 530,
        height: 300,
        type: 'square'
    },
    boundary: {
        width: 600,
        height: 370
    }
});


$('#imagen_noticia_dialog #upload').on('change', function () { 
  var reader = new FileReader();
  reader.onload = function (e) {
    $uploadCrop.croppie('bind', {
      url: e.target.result
    }).then(function(){
      //console.log('jQuery bind complete');
      });
  }
  reader.readAsDataURL(this.files[0]);
});

//Opción para registrar noticias.
$('#imagen_noticia_dialog .upload-result').on('click', function (ev) {
  file=$("#registrar_noticias #cont_imagen img").attr("file");
  imagen_provisional="";
  $uploadCrop.croppie('result', {
    type: 'canvas',
    size: { width:1000 }, //the height will be calculated using the viewport aspect ratio.
    quality: 1,
    format:'jpeg'
  }).then(function (resp) {
    $.ajax({
      url: Routing.generate('imagen_delete'),
      type: "POST",
      data: {file:file},
      success: function (data) {
        $.ajax({
          url: Routing.generate('imagen_create'),
          type: "POST",
          data: {"image":resp},
          success: function (data) {
            imagen_provisional=data.file;
            //Se muestra y se ajusta la imagen subida al contenedor.
            if($("#registrar_noticias #imagen_noticia #cont_imagen img").attr("src")){
              src= $("#registrar_noticias #cont_imagen_mini img").attr("src");

                anterior=$("#registrar_noticias #imagen_noticia #cont_imagen img").attr("file");
                $("#registrar_noticias #imagen_noticia #cont_imagen img").attr("file",data.file);
                change= src.replace(anterior,data.file);
                $("#registrar_noticias #imagen_noticia #cont_imagen img").attr("src",change);
              
                anterior=$("#registrar_noticias #imagen_noticia #cont_imagen_mini img").attr("file");
                $("#registrar_noticias #imagen_noticia #cont_imagen_mini img").attr("file",data.file);
                src= src.replace(anterior,data.file);
                $("#registrar_noticias #imagen_noticia #cont_imagen_mini img").attr("src",src);
              
            }
            else{
                $("#registrar_noticias #imagen_noticia #cont_imagen img").attr("file",data.file);
                dir= "/Symfony/web/uploads/noticias/"+data.file;
                $("#registrar_noticias #imagen_noticia #cont_imagen img").attr("src",dir);

                $("#registrar_noticias #imagen_noticia #cont_imagen_mini img").attr("file",data.file);
                $("#registrar_noticias #imagen_noticia #cont_imagen_mini img").attr("src",dir);
            }
            $(".imgLiquidFill").imgLiquid();
          }
        });
        $("#registrar_noticias #insertar_imagen button").prop("disabled", true);
        setTimeout(function() { 
          $("#registrar_noticias #imagen_noticia").removeClass( "oculto" );
        }, 100); 
        $("#imagen_noticia_dialog").dialog( "close" );
        //Se ajusta a la mitad el desplazamienzo vertical de la nueva imagen.
        $("#registrar_noticias #slider-vertical").slider('value', -90);
      }
    });
  });
});

//Opción para editar noticias.
$('#imagen_noticia_dialog .upload-result-edit_noticia').on('click', function (ev) {
  file=$("#noticias_edit #cont_imagen img").attr("file");
  imagen_provisional="";
  $uploadCrop.croppie('result', {
    type: 'canvas',
    size: { width:1000 }, //the height will be calculated using the viewport aspect ratio.
    quality: 1,
    format:'jpeg'
  }).then(function (resp) {

        $.ajax({
          url: Routing.generate('imagen_create'),
          type: "POST",
          data: {"image":resp},
          success: function (data) {
            imagen_provisional=data.file;
            //Se muestra y se ajusta la imagen subida al contenedor.
            if($("#noticias_edit #imagen_noticia #cont_imagen img").attr("src")){
              src= $("#noticias_edit #cont_imagen_mini img").attr("src");
        
              anterior=$("#noticias_edit #imagen_noticia #cont_imagen img").attr("file");
   
              $("#noticias_edit #imagen_noticia #cont_imagen img").attr("file",data.file);
              change= src.replace(anterior,data.file);
              $("#noticias_edit #imagen_noticia #cont_imagen img").attr("src",change);
              anterior=$("#noticias_edit #imagen_noticia #cont_imagen_mini img").attr("file");
              $("#noticias_edit #imagen_noticia #cont_imagen_mini img").attr("file",data.file);
              src= src.replace(anterior,data.file);
              $("#noticias_edit #imagen_noticia #cont_imagen_mini img").attr("src",src);
            }
            else{

              $("#noticias_edit #imagen_noticia #cont_imagen img").attr("file",data.file);
              dir= "/Symfony/web/uploads/noticias/"+data.file;
              $("#noticias_edit #imagen_noticia #cont_imagen img").attr("src",dir);

              $("#noticias_edit #imagen_noticia #cont_imagen_mini img").attr("file",data.file);
              $("#noticias_edit #imagen_noticia #cont_imagen_mini img").attr("src",dir);
            }
            $(".imgLiquidFill").imgLiquid();
          }
        });
        $("#insertar_imagen_edit button").prop("disabled", true);
        setTimeout(function() { 
          $("#noticias_edit #imagen_noticia").removeClass( "oculto" );
        }, 100); 
        $("#imagen_noticia_dialog").dialog( "close" );
        //Se ajusta a la mitad el desplazamienzo vertical de la nueva imagen.
        $("#noticias_edit #slider-vertical").slider('value', -90);

    /*$.ajax({
      url: Routing.generate('imagen_delete'),   //Se elimina la anterior imagen una vez se ha actualizado
      type: "POST",
      data: {file:file},
      success: function (data) {
              }
    });*/

  });
});
</script>

{#

<script type="text/javascript">
$uploadCrop = $('#upload-demo1').croppie({
    enableExif: true,
    viewport: {
        width: 200,
        height: 200,
        type: 'circle'
    },
    boundary: {
        width: 300,
        height: 300
    }
});


$('#upload').on('change', function () { 
  var reader = new FileReader();
    reader.onload = function (e) {
      $uploadCrop.croppie('bind', {
        url: e.target.result
      }).then(function(){
        console.log('jQuery bind complete');
      });
    }

    reader.readAsDataURL(this.files[0]);

});


$('.upload-result').on('click', function (ev) {
  $uploadCrop.croppie('result', {
    type: 'canvas',
    size: 'viewport'
  }).then(function (resp) {
    $.ajax({
      url: Routing.generate('image_create'),
      type: "POST",
      data: {"image":resp},
      success: function (data) {
        html = '<img src="' + resp + '" />';
        $("#upload-demo-i").html(html);
      }
    });
  });
});
</script>
  #}



{% endblock %}