{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block javascript %}
    <script>
  // Estilos al mostrar la página
  if($(window).width() > 1200){
    // Se comprueba si existe scrol vertical para ajustar el thead
    if( $('#td_inf #lista_color tbody').height()>$('#td_inf').height()){
        $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(2)").attr('style', 'min-width: 23% !important');
    }
    else{
        $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(2)").attr('style', 'min-width: 25% !important');
    }
        // Se comprueba si existe scrol vertical para ajustar el thead
    if( $('#td_prim #lista_color tbody').height()>$('#td_prim').height()){
        $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(2)").attr('style', 'min-width: 21% !important');
        $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(4)").attr('style', 'min-width: 29% !important');
    }
    else{
        $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(2)").attr('style', 'min-width: 23% !important');
        $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(4)").attr('style', 'min-width: 29% !important');
    }
  }
  else{
    // Se comprueba si existe scrol vertical para ajustar el thead
    if( $('#td_inf #lista_color tbody').height()>$('#td_inf').height()){
        $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(2)").attr('style', 'min-width: 22% !important');
        $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(4)").attr('style', 'min-width: 29% !important');
    }
    else{
        $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(2)").attr('style', 'min-width: 22% !important');
        $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(4)").attr('style', 'min-width: 29% !important');
    }
        // Se comprueba si existe scrol vertical para ajustar el thead
    if( $('#td_prim #lista_color tbody').height()>$('#td_prim').height()){
        $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(2)").attr('style', 'min-width: 20% !important');
        $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(4)").attr('style', 'min-width: 29% !important');
    }
    else{
        $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(2)").attr('style', 'min-width: 20% !important');
        $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(4)").attr('style', 'min-width: 29% !important');
    }
  }
  // Estilos al cambiar el tamaño de la pantalla.
  $(window).resize(function(event) {
    if($(window).width() > 1200){
        // Se comprueba si existe scrol vertical para ajustar el thead
        if( $('#td_inf #lista_color tbody').height()>$('#td_inf').height()){
            $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(2)").attr('style', 'min-width: 23% !important');
        }
        else{
            $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(2)").attr('style', 'min-width: 25% !important');
        }
        
        // Se comprueba si existe scrol vertical para ajustar el thead
        if( $('#td_prim #lista_color tbody').height()>$('#td_prim').height()){
            $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(2)").attr('style', 'min-width: 21% !important');
            $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(4)").attr('style', 'min-width: 29% !important');
        }
        else{
            $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(2)").attr('style', 'min-width: 23% !important');
            $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(4)").attr('style', 'min-width: 29% !important');
        }
    }
    else{
        // Se comprueba si existe scrol vertical para ajustar el thead
        if( $('#td_inf #lista_color tbody').height()>$('#td_inf').height()){
            $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(2)").attr('style', 'min-width: 22% !important');
            $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(4)").attr('style', 'min-width: 29% !important');
        }
        else{
            $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(2)").attr('style', 'min-width: 22% !important');
            $("#contenedor_registro_Ngrupos div #table_th_inf th:nth-child(4)").attr('style', 'min-width: 29% !important');
        }
        // Se comprueba si existe scrol vertical para ajustar el thead
        if( $('#td_prim #lista_color tbody').height()>$('#td_prim').height()){
            $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(2)").attr('style', 'min-width: 20% !important');
            $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(4)").attr('style', 'min-width: 29% !important');
        }
        else{
            $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(2)").attr('style', 'min-width: 20% !important');
            $("#contenedor_registro_Ngrupos div #table_th_prim th:nth-child(4)").attr('style', 'min-width: 29% !important');
        }
    }    
  });
    </script>
{% endblock %}

{% block body -%}
  <div id="registro_Ngrupos" class="contenedor_tabla_no_selec">
    <div class="parent_no_form">
    <div class="child">
      <div class="simple_column_red">
        <div class="block_insert">
            <h2>Asignar Nº Grupos</h2>
            <ul>
                <li>Para guardar todos los datos a la vez pulse sobre la opción<button class="btn_info">Guardar Todo</button>.</li>
                <li>Se puede selecionar a la vez el mismo nº de grupos para cada curso en la opción
                <select class="btn_info">
                    <option selected="selected" class="oculto" value="0">Nº</option>
                </select>
                 inferior.</li>
            </ul>
            <div class="center_w85">
                <span>Nº de Grupos:</span>
                <select id="select_grupos_all" class="select_number">
                    <option selected="selected" class="oculto" value="0">Nº</option>
                    <option  value="1">1</option>
                    <option  value="2">2</option>
                    <option  value="3">3</option>
                </select>
            </div>
            <div>
                <div id="load" class="oculto"><img src="/Symfony/web/bundles/backend/images/loading.gif"></div>
                <button id="button_grupos_all">Guardar Todo</button>
                <button id="button_grupos_rest">Restablecer</button>
            </div>
        </div> 
      </div>
      <div>

       <div class="derecha contenedor_registro" id="contenedor_registro_Ngrupos">  

        <div>
            <div id="cabecera_lista">
                <h2>Educación Infantil</h2>
            </div>
            <div >
                <table class="records_list" id="table_th_inf">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Curso</th>
                        <th>Nivel</th>
                        <th>Nº Grupos</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table" id="td_inf">
                    <table id="lista_color">
                    {% for entity in entities %}
                        {% if entity.nivel == "Infantil" %}
                        <tr>
                            <td><span class="oculto">*</span></td>
                            <td>{{ entity.curso }}</td>
                            <td>{{ entity.nivel }}</td>
                            <td>
                                <select id="Ngrupo">
                                {% if entity.numGrupos == "1" %}
                                    <option selected="selected" value="1">1</option>
                                    <option  value="2">2</option>
                                    <option  value="3">3</option>
                                {% elseif entity.numGrupos == "2" %}
                                    <option  value="1">1</option>
                                    <option selected="selected" value="2">2</option>
                                    <option  value="3">3</option>
                                {% else %}
                                    <option  value="1">1</option>
                                    <option  value="2">2</option>
                                    <option selected="selected" value="3">3</option>
                                {% endif %}
                                </select>
                            </td>
                            <td><button>Guardar</button></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>          
       </div>

       <div class="derecha contenedor_registro" id="contenedor_registro_Ngrupos" >  
        <div>
            <div id="cabecera_lista">
                <h2>Educación Primaria</h2>
            </div>
            <div >
                <table class="records_list" id="table_th_prim">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Curso</th>
                        <th>Nivel</th>
                        <th>Nº Grupos</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table" id="td_prim">
                    <table id="lista_color">
                    {% for entity in entities %}
                        {% if entity.nivel == "Primaria" %}
                        <tr>
                            <td><span class="oculto">*</span></td>
                            <td>{{ entity.curso }}</td>
                            <td>{{ entity.nivel }}</td>
                            <td>
                                <select id="Ngrupo">
                                {% if entity.numGrupos == "1" %}
                                    <option selected="selected" value="1">1</option>
                                    <option  value="2">2</option>
                                    <option  value="3">3</option>
                                {% elseif entity.numGrupos == "2" %}
                                    <option  value="1">1</option>
                                    <option selected="selected" value="2">2</option>
                                    <option  value="3">3</option>
                                {% else %}
                                    <option  value="1">1</option>
                                    <option  value="2">2</option>
                                    <option selected="selected" value="3">3</option>
                                {% endif %}
                                </select>
                            </td>
                            <td><button>Guardar</button></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>          
       </div>
       <div id="aviso_error" class="oculto"> 
        <span>*</span>
        <span>Curso no modificado: El curso seleccionado tiene alumnos o profesores asignados a sus grupos. </span>
       </div>   
     </div>
    </div>
    </div>
  </div>

    {% endblock %}
