{% extends  '::frontend.html.twig' %}
{% block javascript %}
  {{ parent() }}

{% endblock %}

{% block main %}
        <section class="contenido">
            {% block contenido %}
              {{render (controller('ColeBundle:Noticias:NoticiasRecientes'))}}
            {% endblock %}
        </section>

        <aside>
            <article class="aside_columna">
              <h3>Calendario</h3>
              <div id="calendar"></div>
            </article>
        {% block aside %}
          {{render (controller('ColeBundle:Cole:HorariosAtencion'))}}

            <article class="aside_columna">
                <h3>Sobre nosotros</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet esse, provident architecto dolores odit eius repellendus ex, aut voluptate natus, in officiis! Odio labore, earum, excepturi quod temporibus voluptatem provident. ...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet esse, provident architecto dolores odit eius repellendus ex, aut voluptate natus, in officiis! Odio labore, earum, excepturi quod temporibus voluptatem provident. ...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet esse, provident architecto dolores odit eius repellendus ex, aut voluptate natus, in officiis! Odio labore, earum, excepturi quod temporibus voluptatem provident. ...</p>
            </article>
        {% endblock %}
        </aside>
    </article>
{% endblock %}


