	{% extends '::frontend.html.twig' %}

        {% block main %}
			
		 	<div id="div_restringida" class="no-seleccion">
		 		<div class="hidden-sm hidden-xs visible-md visible-lg">
		 			<h3 class="col-md-12 col-lg-12">Acceso denegado</h3>
		 			<div class="contendor">
		 				<img class="col-md-2 col-lg-2" src="{{ asset('bundles/cole/images/menu/denegado.png') }}"/>
 						<p class="col-md-10 col-lg-10" >{% trans %}La página a la que usted intenta acceder es una zona restringida que necesita permisos para acceder. <br>Si desea volver a la página anterior, presione el botón para volver atrás en el navegador{% endtrans %}.</p>
		 			</div>
		 		</div>
		 		<div class="visible-sm visible-xs hidden-md hidden-lg">
		 			<img class="col-sm-2 col-xs-2" src="{{ asset('bundles/cole/images/menu/denegado.png') }}"/>
		 			<h3 class="col-sm-8 col-xs-8">Acceso denegado</h3>
		 			<div class="contendor col-sm-12 col-xs-12">
 						<p>{% trans %}La página a la que usted intenta acceder es una zona restringida que necesita permisos para acceder. <br><br>Si desea volver a la página anterior, presione el botón para volver atrás en el navegador{% endtrans %}.</p>
		 			</div>
		 		</div>

 				
 			</div>
        {% endblock %}
