	{% extends '::frontend.html.twig' %}

	{% block title %}Formulario de recuperar contrase침a{% endblock %}
	{% block stylesheets %}
		{{ parent() }}
		<link href="{{ asset('bundles/intranet/css/intranet.css') }}" rel="stylesheet" type="text/css" />
	{% endblock %}


	{% block main %}
	{#
			<form id="recuperarPassword" class="login" action="{{ path('login_check') }}" method="post">
				<h3>{% trans %}Recuperar contrase침a{% endtrans %}</h3>
				<fieldset id="inputs">
				  <p> Por favor, introduzca su dni y seleccione el tipo de usuario al que correspondas.</p>
				  <p>	
					<label for="username">{% trans %}Dni del usuario{% endtrans %}:</label>
					<input type="text" placeholder="{%trans%}Introduzca su dni{%endtrans%}" title="Escriba su dni" autofocus required/>
				  </p>
				  <p>	
					<label for="password">{% trans %}Tipo de usuario{% endtrans %}:</label>
					<select id="password" placeholder="{% trans %}Seleccione usuario{%endtrans%}" title="Seleccione el tipo de usuario al que correspondas" required/></select>
				  </p>

					<div class="mensaje_error">
						
					</div>
					<div id="passolvidado">
						<input id="recuperar" type="submit" value="{% trans %}Enviar{% endtrans %}" title="Recuperar password"></input>
					</div>

					
			</fieldset>

			<div class="fondo"></div>
		</form>
#}

<div id="container_restPass" class="col-xs-12 col-md-offset-3 col-md-6 text-center">
	<h4 class="titulo-bloque">Recuperar Contrase침a</h4>
	<div class="animated fadeIn " >

	<form id="recuperarPassword" class="" method="post" action="" data-toggle="validator" role="form" novalidate="true" autocomplete="off" enctype="multipart/form-data" >
		<input name="_method" value="POST" type="hidden">
		<div class="form-group has-feedback col-xs-12 col-md-offset-1  col-md-4 " >
			<label id="intranet_profesor_email" class="control-label" for="profesor_email" >Introduzca su DNI</label>
			<div id="dni_user" class="input-group" >
				<span class="input-group-addon " ><i class="fa fa-id-card-o"></i></span>
				<input id="dni" class="form-control dni no-padding"  maxlength="10" lengthmin="9" validation="" data-error="Introduzca un DNI correcto" pattern="(^([X-Zx-z]{1})([0-9]{7})([-]?)([A-Za-z]{1})$)|((^[0-9]{8})[-]?([A-Za-z]{1}$))" placeholder="Introduzca su DNI"  type="text">
			</div>
			<span class="glyphicon form-control-feedback" aria-hidden="true" ></span>
			<div class="help-block with-errors" ></div>
		</div>
  <div class="form-group col-xs-12 col-md-offset-1 col-md-5 no-padding ">
    <label for="exampleSelect1">Seleccione tipo de Usuario</label>
    <select id="tipo_user" class="form-control">
      <option>Responsable/Alumno</option>
      <option>Profesor</option>
      <option>Administraci칩n</option>
    </select>
  </div>
    <div class="col-xs-12 ">
		<button id="restablecerPassword_submit" class="btn btn_azul center-block" type="submit" name="restablecerPassword[submit]" >Enviar</button>
  </div>

</div>
<div class="hidden" >
</form>
</div>
</div>




	{% endblock %}
	{% block aside %}{% endblock %}