*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
    color: #001F51 !important;
    outline: none !important;
}
a:focus {
    text-decoration: underline;
}
a:hover {
    color: #496a9f !important ;
}
body {
    background-color: #FFF;
    border: 0px none;
    width: 100%;
    height: 100%;
    font-size: 16px !important;
    font-family: Trebuchet MS,Tahoma,Verdana,sans-serif !important;
    color: #001F51;
}
.cab_sup {
    position: relative;
    float: left;
    padding: 0.2em 0 ;
    width: 100%;
    background-color: #001F51;
    color: #FFF;
    z-index: 0;
}
.cab_sup a{
    color: #FFF;
}
.centrado {
    clear: both;
    position: relative;
    /*max-width: 74.0625em;*/
    max-width: 70em;
    margin: 0px auto;
}
.cab_sup .centrado {
    z-index: 10;
    overflow: visible;
}
.menu_sup_izq {
    position: relative;
    float: left;
    font-family: "Times New Roman", Times, serif;
    padding-top: 6px;
}
.menu_sup_izq li {
    list-style-type: none;
    float: left;
    position: relative;
}
.menu_sup_izq li a{
        color: #E3E7EB !important;
    }
.menu_sup_izq a:hover{
    text-decoration: underline;
}
.primero,.siguiente{
    text-transform: uppercase;
    padding:0 0.25em;
    border: medium green;
}
.primero a,.siguiente a{
        padding:0 0.25em;
}
.siguiente{
    border-left: 1px solid;
}

#logotipo {
    position: absolute;
    top: 0px;
    left: 43%;
    width: 189px;
    height: 179px;
    overflow: hidden;
    font-size: 1em;
    z-index: 5;
}
#logotipo span {
    position: relative;
    float: left;
    width: 189px;
    height: 179px;
    cursor: pointer;
    z-index: 2;
}
/*----------Menú superior derecha--------------*/
.menu_sup_der{
    position: relative;
    float: right;
    width: 10em; /* Aumentar el tamaño de la caja para añadir más redes sociales*/
    text-align: right;
    padding-left: 4px;
    padding-top: 3px;
}
.menu_sup_der>div{
        position: relative;
        float: left;
}
.usuariologin{
    padding: 0.15em 0px 0.15em 2em;
    background: url("../images/cabecera//fnd_login.png") no-repeat scroll left center transparent;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    color: #E3E7EB;
    text-transform: uppercase;
}
.caja_login {
    position: absolute;
    top: 26px;
    left: -2.5em;
    padding: 2px;
    width: 200px;
    z-index: 60;
    background-color: #001F51;
}
.caja_login #login{
    height: 90px;
}
.caja_login .recuperar a{
    color: white !important;
}
.caja_login .recuperar p{
    margin: 0;
}
.login label{
    width: 13em;
}
.oculto {
    display: none;
}
.bloque_login {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    clear: both;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
}
.bloque_login>h2{
    position: relative;
    margin: 0px;
    padding: 10px;
    font-size: 1.8em !important;
    font-family:"Times New Roman",serif;;
    font-weight: normal;
    color: #FFF;
    line-height: 100%;
    padding-bottom: 0.25em;
    text-align: right;
}
.bloque_login>form div{

    margin: 6px;
}
.bloque_login input[type="text"],.bloque_login input[type="password" ] {
        background:  #b1cce7;
        border: grey solid 1px;
        color: #001f51;
        padding: 0px 5px;
        width: 100%;
        margin-bottom: 2px;
        float: right;
        border-radius: 3px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

}
.bloque_login label{
    margin-right: 4px;
    padding: 3px 0px;
    font-size: 0.9em;
}
.bloque_login .recordar{
    float: left;
    margin-top: 8px;
    font-size: 15px;
}
.recordar label input{
    margin: 0  1px!important;
    vertical-align: sub;
    cursor: pointer;
}

.bloque_login input[type="submit"]{
    width: 40%;
    margin: 6px 5px 6px 0;
    float: right;
    color: grey ;
}
.bloque_login div:last-child:hover{
text-decoration: underline;
}

fieldset.fsetoculto {
    border: medium none;
}

.bl_izq {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.redes_soc_sup,.redes_soc_sup a{
    position: relative;
    float: left;
    margin-left: 0.25em;
}

.icon_face, .icon_twitter{
    width: 25px;
}
.icon_twitter{
    background: transparent url("../images/menu/twitter.png") no-repeat scroll right top;
}
.icon_facebook{
    background: transparent url("../images/menu/facebook.png") no-repeat scroll right top;
}
}
/*---------------------------------------*/
.cabecera {
    position: relative;
    float: left;
    width: 100%;
    height: 150px;
    z-index: -2;
}

.titulo{
    position: relative;
    float: left;
    margin-top: 1em;
    font-family: "Comic Sans MS", cursive;
    font-size: 1.40em;
    color: #001F51;
    line-height: 150%;
}
.titulo>strong{
        font-size:1.2em;
}

.carrusel{
    position: relative;
    float: right;
    width: 400px;
    height: 145px;
    margin: 0   auto;
    z-index: -1;
}
.carrusel>div{
    position: absolute;
    width: 100%;
    height: 100%;
}

.carrusel>img{
    position: relative;
    float: right;
    width: 447px;
    height: 200px;
    z-index: 30;
    margin: 0px;   
    padding: 0px;


}
.fondo_menu{
    position: absolute;
    width: 100%;
    top: 190px;
    height: 7em;
    background-color: #b1cce7;
    color: #FFF;
    opacity: 0.3;
    z-index:2;

}
/* Estilo Páginas Restringida*/

#div_restringida{
    width: 80%;
    min-height: 150px;
    background: #b1cce7 none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    padding: 7px;
    margin: 3.8% auto;
    overflow: auto;
}
#div_restringida h3{
    color: #001f51;
    margin-bottom: 15px !important;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}
#div_restringida img{
    display: inline;
    float: left;
    width: 85px;
}
#div_restringida p{
    display: inline;
    float: left;
    font-family: "Comic Sans MS";
    font-size: 14px;
    line-height: 25px;
    padding: 0;
}

/* Menú Principal*/
.barra_menu{
    width: 93%;
    z-index: 50;
    position: relative;
    float: left;
    height: 60px;
    margin: 5px 40px;
    padding-top: 10px;
}
.menu{
    width: 100%;
    position: relative;
    float: left;
    color: white;
    list-style: none;
    z-index: 21;
    height: 45px;
    background-color:  #001F51;
    -moz-box-shadow:  black 5px 5px 15px;
    -webkit-box-shadow:  black 5px 5px 15px;
    box-shadow:  black 5px 5px 15px;
    z-index: 10;
}
.barra_menu:before, .barra_menu:after{
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;
    border: 1.59em solid #001c4a;
    z-index: -1;
}
.barra_menu:before{
    left: -2.1em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}
.barra_menu:after {
    right: -2.1em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}
.menu:before, .menu:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #000c20 transparent transparent transparent;
    bottom: -1em;
}
.menu:before {
    left: 0;
    top:45px;
    border-width: 0.96em 0 0 1em;
}
.menu:after {
    right: 0;
    border-width: 1em 1em 0.06em 0;
}
.menu > li{ 
    list-style: none;
    display: inline-block;
    position:relative;
    float: left;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    width: 13%;
    height: 40px;
    font-family: Helvetica,Arial,sans-serif;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
     background-color:  #001F51;
    display: table;
}
.menu > li a{
    height: 45px;
    display: inline-block;
    font-size: 0.9em;
    color: white !important;
    display: table-cell;
    vertical-align: middle; 
}
.menu li:hover a{
    color: #001F51;
}
.menu > li a:hover{
        display: table-cell;
        vertical-align: middle;
        color: #001F51 ;
}
.submenu{
    list-style: none;
    position: absolute;
    text-align: left;
    padding: 1px;
    top: 30px;
    left: 50%;
    margin-left: -83px;
    width: 160px;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all .3s .02s;
    -webkit-transition: all .3s .02s;
    -o-transition: all .3s .02s;
    transition: all .3s .02s;
     z-index: -3;
}
.menu > li:hover >ul{
    opacity: 1;
    top:45px;
    visibility: visible;
}
.submenu > li, .submenu  ul li{
    background-color:  #f26e26;
    width: 100%;
    display: table;
    border: 2px ridge #CCC;
    border-top: none;
    border-bottom: none;
    border-top: 1px solid white !important;
}
.submenu li a, .submenu  ul li a{
    height: auto;
    min-width: 10px;
    color:#fff !important;
    text-decoration:none !important;
    display:block;
    padding: 6px 3px;
}
.submenu li:hover>a, .submenu  ul li:hover>a{
        color: #001F51 !important;
}

.submenu li:first-child, .submenu  ul li:first-child{
    border-radius:5px 5px 0 0;
    margin-top:15px;
    position:relative;
    border: 2px ridge #CCC;
    border-top: 2px ridge #CCC !important;
    border-bottom: none;
}
.submenu li:last-child, .submenu  ul li:last-child{
    border: 2px ridge #CCC;
    border-radius: 0 0 5px 5px;
}
.submenu li:first-child:before{ 
    content:'';
    position:absolute;
    width:0.5px;
    border:8px solid transparent ;
    border-bottom-color:#001F51;
    left:50%;
    top:-16px;
    margin-left:-8px;
}
.menu > li:hover {
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    -moz-transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
    border: 2px ridge #CCC;
        
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}   
.submenu  ul {
    list-style: none;
    position: absolute;
    text-align: left;
    padding: 16px 0px 0px 0px;
    top: -31px;
    left: 259px;
    margin-left: -79px;
    width: 170px;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all .3s .02s;
    -webkit-transition: all .3s .02s;
    -o-transition: all .3s .02s;
    transition: all .3s .02s;
}
.submenu li:hover ul{
    opacity: 1;
    visibility: visible;
}
 .submenu li ul li:first-child:before{ 
    content:'';
    position:absolute;
    width:0.5px;
    border:8px solid transparent ;
    border-right-color:#001F51;
    left:-8px;
    top:20%;
}
.submenu li{
    position: relative;
}

/* Botones del menú principal*/

.boton_inicio{

    width: 80px !important;
}
.boton_inicio a:hover{

    color: #f26e26 !important;
}
.boton_inicio:hover{
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    border: none !important;
    height: 40px !important;
}
/*Colores botones menú*/

.boton_naranja:hover{
    background-color:  #f26e26;
}
.boton_azul:hover{
    background-color:  #327AFF;
}
.boton_amarillo:hover{
    background-color:  #f8ad48;
}
.boton_verde:hover{
    background-color:  #37db45;
}
.boton_rojo:hover{
    background-color:  #dc3f36;
}
.boton_lila:hover{
    background: #b067a9;
}
        /*Colores botones submenú*/
.boton_naranja ul li{
    background-color:  #f26e26;
}
.boton_azul ul li{
    background-color:  #327AFF;
}
.boton_amarillo ul li{
    background-color:  #f8ad48;
}
.boton_verde ul li{
    background-color:  #37db45;
}
.boton_rojo ul li{
    background-color:  #dc3f36;
}
.boton_lila ul li{
    background: #b067a9;
}
.boton_naranja ul li:hover{
    background:#FDB358;
}
.boton_azul ul li:hover{
    background-color:  #7BAAFF;
}
.boton_amarillo ul li:hover{
    background-color:  #FFED8F;
}
.boton_verde ul li:hover{
    background-color:  #A1FF90;
}
.boton_rojo ul li:hover{
    background-color:  #FF7575;
}
.boton_lila ul li:hover{
    background: #EC9DFF;
}
.migas{
    margin-top: 70px;
    color: #496A9F;
    font-size: 0.95em;
    height: 30px;
}
.migas > span{
    float: right;
}
.migas > :first-child{
    float: left !important;
}
.main{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 0.8em;
    margin-top: 35px;
    padding-top: 10px;
    min-height: 190px;
}
.contenido{
    width: 68.5%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.main aside{
    padding: 10px;
    width: 30%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 10px;
}
.contenido, .main aside{
    display: inline-block;
    vertical-align: top;
}
.aside_columna{
    text-align: justify;
    margin-bottom: 25px;
}
.aside_columna h3{
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.2px;
    color: #001F51;
    padding: 5px 25px;
    background: #DBE6F1;
    border-top: 1.5px solid blue;
    margin: 0 10px 10px 10px;
    text-align: center;
}
.aside_columna p,.aside_columna span{
    font-size: 12px;
    margin-bottom: 5px;
    padding:0 10px;
    color: #001F51;
}
.horarios p span{
    display: block;
    text-align: center;
    border-left: #334c73 2px solid;
    border-right: #334c73 2px solid;
}
.aside_columna p strong{
    background: #334c73;
    color: white;
    text-align: center;
    display: block;
}
.aside_columna p .dias{
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.aside_columna p .horas{
    margin-bottom: 0;
    padding-bottom: 5px;
}
.aside_columna p[id^='cont_']{
    margin: 7px !important;
    border-radius: 5px;
}
.aside_columna p[id^='cont_'] span:last-child{
   border-bottom: 2px solid #334c73;
   border-radius: 0 0 5px 5px;
}
.aside_columna p[id^='cont_'] span:nth-child(2){
   padding-top: 5px !important;
}
.aside_columna p[id^='cont_'] strong{
   padding: 2px;
   border-radius: 5px 5px 0 0;
   font-family: serif;
}
.aside_twiter>div{
    padding: 0 3%;
}
/*Noticias portada*/

.contenedor_noticia{
    padding:10px;
    display:inline-block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(51, 76, 115);
    border-bottom: 2px solid rgba(51, 76, 115, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    min-height: 160px;
    overflow: hidden;
}
.noticia h2{
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}
.main .contenedor_noticia:last-child{
    border: none !important;
}
.fecha_publicada{
    position: relative;
    display: inline-block;
    float: left;
    background-color: #001F51 !important;
    color: #FFF !important;
    width: 8.2%;
    height: 145px;
    background-image: url("../images/mascara_publicada.png");
    background-repeat: no-repeat;
    padding: 15px 10px 20px;
    text-align: center;
    line-height: 1.2;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px #888888;
}
.valor_day{
    font-size: 30px;
    font-weight: bold;
}
.valor_month{
    font-size: 16px;
    margin-top: 4px;
    text-transform: uppercase;
}
.valor_year{
    font-size: 14px;
    margin-top: 2px;
}

.contenido_noticia{
    display: inline-block;
    float: left;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
}
.contenido_noticia p{
    margin-top: 10px !important;
}
#recientes{
    padding: 20px 10px;
}
#recientes .contenido_noticia img{
    display: none;
}
#recientes .contenido_noticia{
    width: 89%;
}
#recientes .contenido_noticia p{
    margin-top: 0px !important;

}
.imgLiquidFill{
    position: relative;
    display: block;
    width:100%; 
    height:180px;
    margin-bottom: 10px;
    border-radius: 3px !important;
    box-shadow: 2px 2px 5px #888888;
}
.img-small{
    width:150px !important; 
    height:130px !important;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 3px !important;
    background-position: center;/*Se centra la imagen pequeña de la noticia*/
}
.normal{
    width:530px !important; 
    height:300px !important;
    margin: 30px auto;
    border-radius: 3px !important;
    background-position: center;/*Se centra la imagen pequeña de la noticia*/
}
/*.no_foto{
    padding-left: 170px;
}*/
.no-seleccion-foto:hover{
    opacity: 0 !important;
}
.no-seleccion:hover{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.contenido_noticia>div>a:hover{
    width: 100%;
    opacity: 0.1;
    background-color: white;
}
.contenido_noticia h2{
    position: relative;
    /*display: block;
    clear: both;*/
    margin-bottom: 3px;
    margin-top: -5px;
    font-size: 25px;
    font-family: serif;
    text-transform: capitalize;
}
.contenido_noticia p{
    font-size: 14px;
}
#nuevo{
    margin-top: 10px;
}
#calendar{
    clear: both;
    display: inline-block;
    height: auto !important;
    width: 100%;
}
#calendar .c-grid{
    background: #eff4f9 none repeat scroll 0 0;
    clear: both;
    display: block;
    height: 230px !important;
    margin: 0 5%;
    width: 90%;
    border-radius: 5px 5px 0 0;
}
#calendar .c-event-item{
    margin: 5px !important;
    padding-left: 0 !important;
}
#calendar .c-event-item > div{
    white-space: pre-wrap;
}
#calendar .c-event-item span{
    padding: 0 8px;
    margin-left: 5px;
    border-radius: 8px;
    background: #5cb85c;
    white-space: nowrap;
}
#calendar .c-grid div[class*="c-week-day"], #calendar .c-grid div[class*="c-grid-title"]{
    padding-top: 1% !important;
    background: #001f51 none repeat scroll 0 0;
    opacity: 0.8;
    height: 24px;
}
#calendar .c-grid div[class*="c-grid-title"]{
    border-bottom: 1px solid white;
    font-size: 1.2em;
    padding: 0 6px !important;
}
#calendar .c-grid div[class*="c-day"]{
    padding-top: 1.5% !important;
}
#calendar .c-grid .c-day:not(.c-event){
    pointer-events: none !important ;
    cursor: none !important;
}
#calendar .c-event-grid{
    background: #eff4f9 none repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 5px #888888;
    clear: both;
    display: block;
    margin: 0 5%;
    min-height: 60px;
    padding-bottom: 5px;
    width: 90%;
}
#calendar .c-event-grid .c-event-title {
    color: white;
    font-weight: bold;
    height: 12%;
    margin-left: 0;
    text-align: center;
    width: 100%;
    background: #001f51 none repeat scroll 0 0;
    padding: 1% !important;
    opacity: 0.8;
}
#calendar .c-grid .c-event {
    border-radius: 25px;
    margin: 0 2.65%;
    width: 9%;
    background: #001f51;
    opacity: 0.8;
}
#calendar .c-grid .c-event-over {
    background: #fa8258 !important;
    color: #001f51 !important;
}
#calendar .c-event-grid .c-event-body {
    background-color: #eff4f9;
    max-height: 170px;
    overflow: auto;
}
#calendar .c-today {
    background-color: #abd0d5;
    border-radius: 25px;
    margin: 0 2.6%;
    width: 9.1%;
    text-decoration: underline;
    font-weight: bold;
}
#calendar .c-month {
    width: 82%;
}
#calendar .c-next {
    width: 9%;
    border-radius: 0 5px 0 0;
}
#calendar .c-previous {
    width: 9%;
    border-radius: 5px 0 0 0;
}
#calendar .div-over {
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    opacity: 0.5
}
#calendar .weekend {
    background: lightgray none repeat scroll 0 0;
    border-radius: 0;
    margin: 0;
    width: 14.28%;
}
.dia_select{
    background: #5cb85c !important;
    color: #001f51 !important;   
}
.icon {
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: -0.25em;
    overflow: hidden;
    position: relative;
    text-indent: -99999px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    background-image: url("../images/menu/ui-icons_334c73_256x240.png");
}
.icon-triangle-1-e {
    background-position: -32px -16px;
}
.calendar .description{
    background: #abd0d5;
    border-top: 1px solid #001f51 !important;
    padding: 10px;
    border-radius: 5px;
}
.arrow-right{
    width: 0 !important;
    height: 0!important;
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-left: 5px solid #001f51 !important;
    float: left !important;
    margin-top: 3px !important;
    margin-right: 3px !important;
}
.arrow-down{
    width: 0 !important;
    height: 0 !important;
    border-top: 5px solid #001f51 !important;
    border-right: 5px solid transparent !important;
    border-left: 5px solid transparent !important;
    float: left !important;
    margin-top: 6px !important;
    margin-right: 3px !important;
}
.calendar .c-event-list .title:hover{
    pointer-events: auto !important;
    cursor: pointer !important;
}
#gallery{
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey
}
#pre_footer{
    margin: 0 auto -25px;
    height: 250px;
}
#bg_white{
    background-color: #fff;
    height: 30px;
    position: absolute;
    top: 0;
    width: 100%;
}
#pre_footer #redes_sociales{
    display: block;
}
.footer_wrapper{
    background: #e6e6e6 none repeat scroll 0 0;
    border-bottom: 2px outset floralwhite;
    border-top: 2px inset floralwhite;
    color: #001f51 !important;
    padding: 2px;
    margin-top: 35px;
}
#pre_footer .region h2 .icono{
    display: block;
    height: 32px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 32px;
}
.col-rs{
    width: 35%;
    font-size: 9px !important;
    font-family: Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: normal !important;
    color: black;
    float: left;
    min-height: 1px;
    margin: 0 7%;
    position: relative;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 250px;
    background: white;

}
.col-rs h2{
    background: lightgrey;
    border-radius: 5px 5px 0 0;
    font-size: 18px !important;
    margin: 0;
    padding: 5px 0;
}
.col-rs .content{
    box-shadow: 2px 2px 5px black;
    height: 220px;
}

footer{
    position: relative;
    float: left;
    padding-bottom: 5px;
    width: 100%;
    background-color: #001F51;
    text-align: center;
    color: #88BAED;
    font-size: 0.8em;
    z-index: -5;
}
footer a{
    padding: 2px 5px;
    display: inline-block;
}
footer a:hover{
    text-decoration: underline;
}
thead tr th {
    background: #334C73;
    min-width: 80px !important;
    text-align: left;
    padding: 0 5px;
    font: 1em solid ;
    color:white;
}
tbody:not(.lista_alumnos) tr td{
    background: #b1cce7;
    min-width: 80px !important;
    /*text-align: left;*/
    padding: 0 5px;
}

.horario_alumno_intranet .aula_horario_intranet{
    font-size: 17px;
    vertical-align: middle;
}
.horario_alumno_intranet #alumno{
    clear: none;
    float: left;
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 100%;
}
.horario_alumno_intranet #alumno .label{
    display: block;
    float: left;
    font-weight: bold;
    height: 26px;
    margin-left: 30px;
    margin-right: 7px;
}

thead{display: table-header-group;}
tfoot {display: table-row-group;}
tr {page-break-inside: avoid;}

.cabecera_listado .horario_grupo_pdf  img{
    height: 30px;
    vertical-align: middle;
    width: 30px;
    float: left;
}
#cabecera_listado #logo{
    float: left;
    width: 80px !important;
    height: 80px !important;
    margin-top: 13px !important;
}
#cabecera_listado .titulo{
    font-size: 1em !important;
    float:left!important;
}
#cabecera_listado #curso{
    margin-top: 20px !important;
    font-size: 1.4em !important;
    float:right!important;
    margin-right: 10px;
    text-align: right;
    width: 300px;
}
#cabecera_listado #curso h6{
    font-weight: normal;
    margin-bottom: 5px !important;
    margin-top: -3px;
}
#cabecera_listado .subtitulo{
    margin-top: 5px !important;
}
/*Se usa para mostrar diferentes subtitulos en varias páginas (Ej. Lista de alumnos por optativas)*/
.subtitulo_pdf{
    color: #e57200;
    font-size: 1.1em !important;
    float:right!important;
    margin-right: 10px;
    text-align: right;
    width: 100%;
    font-weight: bold;
}

#cabecera_listado #grupo{
    clear: both;
    text-align: center;
}

.lista_pdf tr th:first-child,.lista_pdf tr td:first-child{
    text-align: center !important;
    width: 100px !important;
}
.lista_pdf tr th:last-child,.lista_pdf tr td:last-child{
    padding-left: 10px;
}

.lista_pdf tr th{
    line-height: 0.9 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: 14px !important;
}
.lista_pdf tr td{
    line-height: 0.9 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-size: 13px !important;
}
.lista_pdf tr:nth-child(2n+1){
    background: #eff3f9 !important;
}
.lista_pdf tr td, .lista_pdf thead tr{
    border: 1px solid grey ;
}
.lista_pdf tr th{
    border: none ;
}
.lista_pdf tr th:first-child{
    border-right: 1px solid #ddd !important;
}
.c-grid-title {
    height: 28px !important;
}














@media (max-width: 1100px){
    .carrusel{
        clear: both;
        position: relative;
        float: left;

        margin-top: 80px;
    }
        #logotipo{
        left: 70%;
        top: 30px;
    }
        #logo{
             width: 80%;
            height: 80%;
    }
        .main{
        margin-top: 250px;
    }
    .barra_menu{
    padding-top: 0;
    }
  
}
@media (max-width: 820px){



}
@media (max-width: 650px){

    #logotipo{
        left: 70%;
        top: 40px;
    }
    #logo{
             width: 60%;
            height: 60%;
    }
    .titulo{
            font-size: 1.1em;
    }
}





















